From: {{.From}}
To: {{.To}}
Subject: DOPPEL mentions: {{len .Mentions}}
MIME-version: 1.0
Content-Type: text/html; charset="UTF-8"

<html><body>
<h1> DOPPEL {{.Version}} </h1>
<p>
Hello <b>{{.Config.Nick}}</b>!<br>
	You have <b>{{len .Mentions}}</b> new mentions!
</p>
<ul>
	{{range .Mentions}}
	<li>
		<b color="#999999">[{{.Chan}}]</b>
		<b>{{.Nick}}:</b>
		{{.Message}}
		<br>
		<br>
	</li>
	{{end}}
</ul>
<p>
	<i>Take care o/</i>
</p>
</body></html>
